<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Short description
 *
 * Long description
 *
 * Baseado no módulo original Cushy_Boleto de Renan Gonçalves <renan.saddam@gmail.com>
 * Copyright 2012, Rafael Camargo <desbloqueio@terra.com.br>
 * Licensed under The MIT License
 * Redistributions of files must retain the copyright notice.
 *
 * @copyright       Copyright 2012, Rafael Camargo 
 * @category        Boleto_Rafael
 * @package         RafaelCamargo_Boleto
 * @license         http://www.opensource.org/licenses/mit-license.php The MIT License
 */ 
-->
<config>
	<modules>
		<RafaelCamargo_Boleto>
			<version>1.0.0</version>
			<depends>
				<Mage_Payment />
			</depends>
		</RafaelCamargo_Boleto>
	</modules>
	<global>
		<models>
			<boleto>
				<class>RafaelCamargo_Boleto_Model</class>
			</boleto>
		</models>
		<resources>
			<connection>
				<use>core_setup</use>
			</connection>
		</resources>
	</global>
	<frontend>
		<routers>
			<boleto>
				<use>standard</use>
				<args>
					<module>RafaelCamargo_Boleto</module>
					<frontName>boleto</frontName>
				</args>
			</boleto>
		</routers>
	</frontend>
	<default>
		<payment>
			<boleto_bancario>
				<active>0</active>
				<model>RafaelCamargo_Boleto_Model_standard</model>
				<banconome>santander_banespa</banconome>
				<title>Boleto Bancário</title>
				<vencimento>5</vencimento>
				<instrucoes_boleto>- Não receber após vencimento.
- Não receber pagamento em cheque.
</instrucoes_boleto>
			    <informacoes>- Pagamento do pedido efetuado na loja XXXXXX.
- Nº do pedido: #%s, para maiores detalhes e 2ª via do boleto acesse o histórico do seu pedido.
- Em 2 (dois) dias seu pagamento será automaticamente acusado pelo nosso sistema.</informacoes>
                <especie>R$</especie>
				<aceite>N</aceite>
				<valor_adicional>0</valor_adicional>
			</boleto_bancario>
		</payment>		
	</default>
</config>